.match-info__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 1rem;
    overflow-y: hidden;
}

.match-info__link-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.match-info__link-button {
    border-radius: 7px;
    transition: all .6s;
}

.match-info__link-button:hover {
    background-color: var(--black-color);
    color: var(--third-color);
}

.match-info__link {
    margin: 0;
    padding: .3rem .7rem;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
    cursor: grab;
    transition: all .6s;
}

.match-info__data {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-wrapper {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 200px 1fr ;
    width: 100%;
    max-width: 1400px;
}

.home, .away, .match-info__result, .match-info__postponed, .match-info__not-started, .match-info__cancelled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    padding: 0rem 2rem;
    color: var(--secondary-color);
}

.match-info__result {
    font-size: 4rem;
    padding: 0rem .5rem;
    color: var(--black-color)
}

.match-info__result>p, .match-info__postponed>p, .match-info__not-started>p, .match-info__cancelled>p {
    font-size: 1.2rem;
    padding: 0 .5rem;
    border-bottom: 1px solid var(--secondary-color);
}

.not-started__p {
    font-size: 1.5rem !important;
}

.match-info__postponed, .match-info__not-started, .match-info__cancelled {
    font-size: 2.5rem;
    padding: 0rem .5rem;
    color: var(--black-color)
}

.match-info__timeline {
    width: 45%;
    max-width: 600px;
    max-height: 400px;
    margin-top: 2rem;
    text-align: center;
    color: var(--black-color);
}

.match-info__timeline>h2 {
    font-size: 1.5rem;
}

.match-info__timeline-table {
    overflow-x: auto;
    max-height: 400px;
}

.match-info__table>thead {
    font-size: 1.4rem;
}

.match-info__table>tbody {
    font-size: 1.1rem;
}
